<template name="dashboard">
  <div class="page-heading">
      <h1><i class='fa fa-file'></i> Blank</h1>
      <h3>Blank Page</h3>
      </div>
    <!-- Page Heading End-->

      <div class="row">
    <div class="col-md-12 portlets">
              <!-- Page Content-->
    </div>
  </div>
 </template>
