<head>
    <script type="text/javascript" src="/ckeditor/ckeditor.js"></script>
   <script type="text/javascript" src="/ckeditor/adapters/jquery.js"></script>
</head>
<template name="mainLayout">
  {{> formsModal}}
  <!-- Begin page -->

  <div id="wrapper">
  

    {{>topbar}}

    {{>leftbar}}

    {{>rightbar}}
	
    <div class="content-page">
      <div class="content">
        {{>yield}}
      </div>
    </div>

  </div>
  <div class="md-overlay"></div>
</template>
