<template name="leftbar_footer">
    <div class="left-footer">
        <div class="progress progress-xs">
          <div class="progress-bar bg-green-1" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
            <span class="progress-precentage">80%</span>
          </div>
          
          <a data-toggle="tooltip" title="See task progress" class="btn btn-default"><i class="fa fa-inbox"></i></a>
        </div>
    </div>
</template>