<template name="formsModal">
<div class="md-modal md-slide-stick-top" id="form-modal">
		<div class="md-content">
		<div class="md-close-btn"><a class="md-close"><i class="fa fa-times"></i></a></div>
			<h3><strong>Form</strong> Modal</h3>
			<div>
				<div class="row">
					<div class="col-sm-6">
					<h4>Login</h4>
						<form role="form">
						  <div class="form-group">
							<input type="email" class="form-control" placeholder="Enter email">
						  </div>
				l		  <div class="form-group">
							<input type="password" class="form-control" placeholder="Password">
						  </div>
						  <button type="submit" class="btn btn-default">Login</button>
						</form>
					</div>
					<div class="col-sm-6">
					<h4>Not a member?</h4>
						<p>Create account <a href="#fakelink">here</a></p>
						<p>OR</p>

						<button type="button" class="btn btn-primary btn-sm btn-block btn-facebook"><i class="fa fa-facebook"></i> Login with Facebook</button>
						<button type="button" class="btn btn-primary btn-sm btn-block btn-twitter"><i class="fa fa-twitter"></i> Login with Twitter</button>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</template>